.deps
*.gch
*.lo
*.la
.libs
acinclude.m4
aclocal.m4
autom4te.cache
build
config.guess
config.h
config.h.in
config.log
config.nice
config.status
config.sub
configure
configure.ac
configure.in
include
install-sh
libtool
ltmain.sh
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
missing
mkinstalldirs
modules
run-tests.php
calends/
calends/*
calends/**
calends.c
calends.h
clean
config.m4
config.w32
ext_config.h
ext.h
install
php_calends.h
php_ext.h
tests/*.diff
tests/**.diff
tests/*.out
tests/**.out
tests/*.php
tests/**.php
tests/*.exp
tests/**.exp
tests/*.log
tests/**.log
tests/*.sh
tests/**.sh
kernel/
